@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chorwacka 2c<br />
    51-107, Wrocław<br />
    <abbr title="Phone">Phone:</abbr>
    (+48) 555 666 777
</address>

<address>
    <strong>Developers:</strong>   <a href="mailto:devteam@courser.com">devteam@courser.com</a><br />
</address>