@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Language Courses</h1>
    <p class="lead">Some base info</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Topic 1</h2>
        <p>
            Topic 1 text
        </p>
    </div>
    <div class="col-md-4">
        <h2>Topic 2</h2>
        <p>Topic 2 text</p>
    </div>
    <div class="col-md-4">
        <h2>Topic 3</h2>
        <p>Topic 3 text</p>
        <p><a class="btn btn-default" href="#">Usefull button &raquo;</a></p>
    </div>
</div>